.app-content-wrapper{
	max-height: 800px;
}
.contentarea {
	height: 85%;
}
.headerdiv {
	height: 15%;
}
.plotarea {
	height: 100%;
	width: 74.5%;
	float: left;
}
.navigationpanel {
	height: 100%;
	width: 24.5%;
	background-color: white;
	float: right;
	overflow: auto;
}
p {
	font-size: 30px;
	color: white;
	font-weight: 10px
}
.footerdiv, #pdfSection {
	display: none;
}
button, #navpanel > select, option {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background-color: black;
	color: white
}
.form > label {
	margin-bottom: 5px 5px;
	color: red;
}
#toggle {
	margin-top: 30px;
}
.form > select {
	width: 100%;
	margin-top: 5px;
	height: 35px;
	color: white;
	background-color: black;
}
.form > img {
	display: none;
	width: 10px;
	height: 10px;
}