.app-content-wrapper{
	max-height: 800px;
}
.contentarea {
	height: 85%;
}
.headerdiv {
	height: 15%;
}
.plotarea {
	height: 100%;
	width: 74.5%;
	float: left;
}
.navigationpanel {
	height: 100%;
	width: 24.5%;
	background-color: white;
	float: right;
	overflow: auto;
}
p {
	font-size: 30px;
	color: white;
	font-weight: 10px
}
.footerdiv, #pdfSection {
	display: none;
}
button, #navpanel > select, option {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background-color: black;
	color: white
}
.form > label {
	margin-bottom: 5px 5px;
	color: red;
}
#toggle {
	margin-top: 30px;
}
.form > select {
	width: 100%;
	margin-top: 5px;
	height: 35px;
	color: white;
	background-color: black;
}
.form > img {
	display: none;
	width: 10px;
	height: 10px;
}
.popupform {
	width: 250px;
	padding: 10px 10px 10px 10px;
	margin:  5px 0 22px 0;
	background: #f1f1f1;
	display: none;
	border: 3px solid #f1f1f1;
  	z-index: 1;
  	position: fixed;
  	right: 12px;
  	bottom: 0;
}
.popupform > label {
	width: 100%;
}
.popupform > input {
	width: 100%;
	float: left;
}
.pdfF {
	z-index: 9;
	display: block;
	right: 20px;
	bottom: 2px;
	position: fixed;
}