{% load static tethys_gizmos terms_tags analytical%}
<!DOCTYPE html>
<html>
<head>
	<title>Rangelands Decision Support Tool</title>
<!-- <link rel="stylesheet" type="text/css" href="lib/extjs_4.2.1/resources/css/ext-all-neptune.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'rdst/lib/extjs_4.2.1/resources/ext-theme-neptune/ext-theme-neptune-all.css' %}">

<!-- <link rel ="stylesheet" type="text/css" href="lib/extjs_4.2.1/resources/css/ext-all.css"> -->
<!-- ExtJS Lib -->
<!-- <script type="text/javascript" src="lib/extjs_4.2.1/extjs.js"></script> -->
<script type="text/javascript" src="{% static 'rdst/lib/extjs_4.2.1/ext-all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rdst/lib/jquery.min.js' %}"></script>

<!-- Charts API -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

 <!-- ArcGIS JS API -->
<script src="https://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.1"></script>


<!-- OpenLayers Lib -->
<script src="{% static 'rdst/lib/OpenLayers-2.13.1/OpenLayers.js' %}" type="text/javascript" defer></script>
<script src="{% static 'rdst/assets/js/LoadingPanel.js' %}" type="text/javascript" defer></script>
<script src="{% static 'rdst/lib/extjs_4.2.1/ext-theme-neptune.js' %}" type="text/javascript" defer></script>

<script type="text/javascript">

  //var pond_mapid = "{{ pond_mapid }}";
  //var pond_token = "{{ pond_token }}";
  //var pond_url = "{{ ponds_url_format }}";
  var username = "Login";

  //console.log(pond_url);

	// latest wms
	var recent_wms = '';
	var ndvi_tif='';
	var dekadals = [];
	var allLayers = [];

	$.ajax({
	        //url: "/app/layers.json",
			url: "https://geoportal.rcmrd.org/data/layers.json",
			dataType: "json",
			async: true,
			crossDomain: true,
			cache: false
			/*headers: {
				"accept": "application/json",
				"Access-Control-Allow-Origin": "*"
			}*/
		    }).then(function(data) {

				var layers = data.layers.layer;

				$.each(layers, function(index,value){
					var layer = value.name;
					if(layer.includes("modis.dekadal")){
						dekadals.push(layer);
					}

					allLayers.push(layer);


				});

			//console.log(dekadals[dekadals.length-1]);
			recent_wms = dekadals[dekadals.length-1];
			console.log(recent_wms);
			ndvi_tif = recent_wms;
			$.getScript("{% static 'rdst/index.js' %}");
			

		});
		
const eventListenerOptionsSupported = () => {
  let supported = false;

  try {
    const opts = Object.defineProperty({}, 'passive', {
      get() {
        supported = true;
      }
    });

    window.addEventListener('test', null, opts);
    window.removeEventListener('test', null, opts);
  } catch (e) {}

  return supported;
}

const defaultOptions = {
  passive: false,
  capture: false
};
const supportedPassiveTypes = [
  'scroll', 'wheel',
  'touchstart', 'touchmove', 'touchenter', 'touchend', 'touchleave',
  'mouseout', 'mouseleave', 'mouseup', 'mousedown', 'mousemove', 'mouseenter', 'mousewheel', 'mouseover'
];
const getDefaultPassiveOption = (passive, eventName) => {
  if (passive !== undefined) return passive;

  return supportedPassiveTypes.indexOf(eventName) === -1 ? false : defaultOptions.passive;
};

const getWritableOptions = (options) => {
  const passiveDescriptor = Object.getOwnPropertyDescriptor(options, 'passive');

  return passiveDescriptor && passiveDescriptor.writable !== true && passiveDescriptor.set === undefined
    ? Object.assign({}, options)
    : options;
};

const overwriteAddEvent = (superMethod) => {
  EventTarget.prototype.addEventListener = function (type, listener, options) {
    const usesListenerOptions = typeof options === 'object' && options !== null;
    const useCapture          = usesListenerOptions ? options.capture : options;

    options         = usesListenerOptions ? getWritableOptions(options) : {};
    options.passive = getDefaultPassiveOption(options.passive, type);
    options.capture = useCapture === undefined ? defaultOptions.capture : useCapture;

    superMethod.call(this, type, listener, options);
  };

  EventTarget.prototype.addEventListener._original = superMethod;
};

const supportsPassive = eventListenerOptionsSupported();

if (supportsPassive) {
  const addEvent = EventTarget.prototype.addEventListener;
  overwriteAddEvent(addEvent);
}

</script>
<script type="text/javascript" src="{% static 'rdst/data/rdst_data.js' %}" ></script>
<script type="text/javascript" src="{% static 'rdst/data/vci_products.js' %}" ></script>
<!--<script type="text/javascript" src="{% static 'rdst/index.js' %}" ></script>-->



<link rel="stylesheet" type="text/css" href="{% static 'rdst/lib/geoext2-2.0.2b/resources/css/popup.css' %}">
<link rel ="stylesheet" type="text/css" href="{% static 'rdst/assets/css/custom.css' %}">

<link rel="shortcut icon" href="{% static 'rdst/assets/images/favicon.ico' %}" />

</head>
<body>

    <div id="chart_div" class="x-hide-display" style="width: 700px">
    </div>

    {% if user.is_authenticated %}

        <script type="text/javascript">
            username = "{{ user.username }}";
        </script>

    {% endif %}



</body>

</html>
